* {
  transition:all 0.5s;
}

html {
  height:100vh;
  width:100vw;
  padding:0;
  margin:0;
}

body {
  padding:0;
  margin:0;
  background-color:#eee;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  color:#333;
}

a {
  text-decoration:none;
  color:#555;
  transform:translateY(0);
}
a:hover {
  color:#000;
}


main {
  flex:1;
  overflow:auto;
  padding:1em;
  display:block;
  min-height:(100vh - 7em);
  max-width:600px;
  margin:auto;
}

#main-introduction {
  margin:25vh 0;
  font-size:2.5em;
  text-align:center;
}

#introduction-calltoaction {
  background-position:500px;  
  display:block;
  width:10em;
  padding:1em;
  border-radius:2em;
  text-align:center;
  border:2px solid #888;
  margin:auto;
  background-size:10px 300px;
}
#introduction-calltoaction:hover {
  border:2px solid #000;
  color:#000;
}

article {
  margin:1em;
  padding:1em;
}
article:hover {
  cursor:pointer;
  transform:translateY(-2px);
  background:#fff;
  border-radius:8px;
}

article img {
  display:block;
  margin:auto;
  width:50%;
}

article i {
  float:right;
}


footer {
  padding:0.5em;
  width:calc(100vw - 3em);
  max-width:700px;
  margin:auto;
  text-align:center;
  color:#555;
  border-top:2px solid #888;
  z-index:1;
}