!!! 5
%html
	%head{:lang => "en"}
		%title ppvk
		%style 
			/ style.sass will go here
	%body
		%header
			PPVK	
		%main
			.panel
				PEN
			.panel
				COU
			.panel
				OPENSWORD
			.panel
				TILES
			.panel
				LIBPEN
			.panel
				PUMP
			.panel
				DART-SLACK

		%footer
			WRITTEN AND DEVELOPED BY PAULVANKEUREN