!!! 5
%html
	%head{:lang => "en"}
		%title ppvk
		%meta{'name' => 'viewport', :content => 'width=device-width', 'initial-scale' => '1.0', 'user-scalable' => 'no'}/
		%style 
			/ style.sass will go here
	%body
		%header
			PPVK	
		%main
			.panel
				pen
			.panel
				cou
			.panel
				OpenSword
			.panel
				Tiles
			.panel
				libpen
			.panel
				pump
			.panel
				dart-slack

		%footer
			Written and directed by PaulVanKeuren