// Fonts
@import url(http://fonts.googleapis.com/css?family=Quantico)

// Variables/////////
$background: #F5ECCF
$color: #9BA082
$primary: #000
$border: #467A6E

/////////////////////
body
	padding: 0
	margin: 0
	background-color: $background
	color: $color
	font-family: 'Quantico', sans-serif
header
	padding: 0
	background-color: $color
	font-size: 45px
	height: 30px
	color: $background
	position: absolute
	left: 0
	top: 0
	right: 0
	line-height: 30px
main
	position: absolute
	top: 30px
	bottom: 25px
	right: 0
	left: 0
footer
	background-color: $color
	color: $background
	position: absolute
	height: 25px
	left: 0
	bottom: 0
	right: 0
.panel
	float: right
	width: 200px
	height: 200px
	border: 5px solid $border
	border-radius: 8px
	padding: 5px
	margin: 5px


.grid
	display: flex

.cell
	flex: 1
