header {
 width:calc(100vw - 2.5em);
 max-width:800px;
 margin:auto;
 padding:1em;
 box-shadow: 0 0.5em 0.5em #eee;
 z-index:1;
}
#header-logo {
  width:6em;
  display:inline-block;
}


nav {
  margin-left:auto;
  display:inline-block;
  text-align:right;
  float:right;
}
nav * {
  display:block;
}
nav a:hover {
  transform:translateY(-5px);
}
nav .vr {
  display:none;
}

@media (min-width: 450px) {
  nav {
  margin-top:1em;
  }
  nav * {
    display:inline-block;
  }
  nav .vr {
    display:inline;
  }
}